<html>
  <head>
    <title>ДБиЗИ | Новости</title>
  </head>
  <body>
    <h1>Чтобы с уверенностью смотреть в будущее, нужно соблюдать правила информационной безопасности в настоящем.</h1>
    <p>Новости</p>
  </body>
</html>