<% provide(:title, 'Новости') %>
<% provide(:img, "news.png") %>
<% provide(:h1, 'Чтобы с уверенностью смотреть в будущее, нужно соблюдать правила информационной безопасности в настоящем.') %>
<p>Новости</p>
