<% provide(:title, 'Курилка') %>
<p><% provide(:img, "room.jpg") %>
<% provide(:h1, 'Поговорим о наболевшем...') %></p>
<p>Лента</p>
<% if signed_in? %>
<%= @current_user.name %>
<% else %>
Гость
<% end %>