<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, добро пожаловать на портал ДБиЗИ.</h1>
    <p>
      Вы успешно прошли процедуру регистрации на портале ДБиЗИ,
      имя для входа: <%= @user.email%>.<br>
    </p>
    <p>
      Для подтверждения регистрации на портале пройдите по ссылке: <%= @url %>.
    </p>
    <p>Коллектив ДБиЗИ благодарит Вас и желает отличного и плодотворного дня!</p>
  </body>
</html>