    <li>
      <%= image_tag(img_title("personal.png")) %>
     <% if current_user.admin? && !current_user?(@user) %>
        <%= link_to user.name, edit_user_path(user) %>
      <% else %>
          <%= link_to user.name, user %>
      <% end %>

      <% if 
      	current_user.admin? && 
      !current_user?(user) %>
    	| <%= link_to "Удалить", user, method: :delete,
                                  data: { confirm: "Вы уверены?" } %>
  	<% end %>
    </li>
