// Place all the styles related to the OIB controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding:0;
	margin:0;
	background: url(bg.png) repeat-y;
	background-color: #588a2b;
	background-position: left;
	font-family: arial;
}

.menu {
	height: 50px;
	width: 986px;
	padding-top:105px;
	margin: auto;
}

#mainNav {
	margin:0;
	padding:0;
	list-style: none;
}

#mainNav li {
	float:left;	
}

#mainNav li a {
	display: block;
	height: 50px;
	text-decoration: none;
	text-indent:-30000px;
}

.homenav {
	width: 390px;
	background:url(navhome1.png) no-repeat bottom;
}

.homenav a:hover, .homenavselected a{
	background:url(navhome.png) no-repeat bottom;
	width: 390px;
}

.newsnav {
	width: 127px;
	background:url(navnews1.png) no-repeat bottom;
}

.newsnav a:hover, .newsnavselected a {
	background:url(navnews.png) no-repeat bottom;
	width: 127px;
}

.stnav {
	width: 143px;
	background:url(navst1.png) no-repeat bottom;
}

.stnav a:hover, .stnavselected a {
	background:url(navst.png) no-repeat bottom;
	width: 143px;
}

.helpnav {
	background:url(navhelp1.png) no-repeat bottom;
	width: 194px;
}

.helpnav a:hover, .helpnavselected a { 
	background:url(navhelp.png) no-repeat bottom;
	width: 194px;
}

.roomnav {
	background:url(navroom1.png) no-repeat bottom;
	width: 122px;
}

.roomnav a:hover, .roomnavselected a {
	background:url(navroom.png) no-repeat bottom;
	width: 122px;
}

.layout { 
	overflow: hidden; 
}
   
.col1 { 
	width: 50%; 
	float: left; 
}
   
.col1 .wrap { 
    background: url(bgleft.png) no-repeat top right;
    height: 285px;
    margin-right: 515px; /* Сдвигаем влево на половину ширины колонки 2 */
    padding: 10px; /* Поля вокруг текста */ 
}

.col2 { 
   	background: #f2f2f2; 
   	width: 1030px; 
   	float: left; 
   	margin-left: -515px; 
}
   
.col3 { 
	width: 50%; 
	float: right; 
	margin-left: -515px; 
}

.col3 .wrap { 
    background: url(bgright.png) no-repeat top left; 
    height: 285px;
    margin-left: 515px; /* Сдвигаем вправо на половину ширины колонки 2 */ 
    padding: 10px; 
}

.header { 
 	background: url(bg1.png) no-repeat center;
 }

h1 {
	color: #615e5e;
	font-size: 18px;
	font-weight: normal;
}