.userroom{
   width:45%; 
   margin-top: 30px;
  
   h3 {
   	    color: #615e5e;
		    font-size: 18px;
		    font-weight: normal;
		    font-family: Arial;
        margin-left: 115px;
        margin-bottom: 0px;
        padding-top: 10px;
        line-height: 20px;
          
   	}
      img {
         margin-top: 10px;
         margin-left: 20px;
      }
  input[type="submit"] {
    border: none;
    height: 42px;
    width: 160px;
    font-size: 14px;
    color: #f2f2f2;
    background: url(button.jpg) no-repeat; 
    cursor: pointer;
    margin-top: 10px;
  }

  form {
    padding-left: 20px;
    padding-top: 10px;
    width: 400px;
  }
}

.format {
  width:100%; 
}

textarea {
    width: 360px;
    height: 150px;
  }

.lenta{
	width:55%; 
  margin-top: -440px;
  margin-left: 440px;
  min-height: 400px;
   h4 {
   	font-family: Marker Felt;
   	color: #6da21d;
		font-size: 24px;
		font-weight: normal;
		text-align: left; 
   	}
}

.warning {
   margin-top: 80px;
   margin-left: 15px;
}

