// Place all the styles related to the OIB controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: url(bg.png) repeat-y;
	background-color: #588a2b;
	background-position: left;
	margin:0;
}

.blockall {
	width: 1292px;
	background: url(bg1.png) no-repeat;
	margin:0 auto;
	border: 2px solid black;
}