.userroom{
   width:45%; 
   	h3 {
   	     color: #615e5e;
		    font-size: 18px;
		    font-weight: normal;
		    font-family: Arial;
          margin-left: 120px;
          margin-top: 20px;
   	}
      img {
         margin-top: 15px;
         margin-left: 20px;
      }
}

.lenta{
	width:55%; 
   float:right;
   margin-top: -35px;
   h4 {
   	font-family: Marker Felt;
   	color: #6da21d;
		font-size: 24px;
		font-weight: normal;
		text-align: left; 
   	}
}

.warning {
   margin-top: 80px;
   margin-left: 15px;
}